<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header::header(~{::title})}">
    <title>管理页</title>
</head>
<body th:fragment="body">
<nav th:replace="~{fragment/header::nav}"></nav>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- 左侧栏目 -->
        <div class="col-md-4 col-xl-3">
            <!-- 分类 -->
            <div class="card">
                <h5 class="card-header">
                    <i class="fa fa-bars" aria-hidden="true">菜单</i>
                </h5>
                <ul class="list-group blog-menu" th:each="menu : ${list}">
                    <a href="javascript:void(0)" class="list-group-item "
                       th:title="${menu.name}" th:text="${menu.name}"
                       th:attr="url=${menu.url}">
                        用户管理
                    </a>
                </ul>
            </div>
        </div>


        <!-- 右侧栏目 -->
        <div class="col-md-8 col-xl-9">
            <div class="card" id="rightContainer">
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<div th:replace="~{fragment/footer :: footer}">...</div>
<script src="../../js/admins/main.js" th:src="@{/js/admins/main.js}"></script>
</body>
</html>